html,
body {
   height: 100%;
}

body {
   color: $default;
   font-size: 16px;
   line-height: 26px;
   @extend %quicksand-500;
   display: flex;
   flex-direction: column;
}

main {
   flex-grow: 1;
}

button {
   border: none;
   outline: none;
}