@media (max-width:991px) {
   .menu-btn {
      z-index: 2;
      margin-right: 20px;
      display: block;
      // width: 50px;
      margin-right: 0;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      position: relative;
      height: 40px;
      background-color: transparent;
      border: none;
      outline: none;
      order: -1;
      padding-left: 5px;
   }

   .menu-btn__burger {
      margin-top: 15px;
      width: 16px;
      height: 4px;
      margin-left: -5px;
      background-color: #000;
      border-radius: 5px;
      transition: all 0.4s ease-in-out;
      // margin-left: -8px;
   }

   .menu-btn__burger::after,
   .menu-btn__burger::before {
      left: 11px;
      content: "";
      position: absolute;
      width: 22px;
      height: 4px;
      background-color: #000;
      border-radius: 5px;
      transition: all 0.4s ease-in-out;
   }

   .menu-btn__burger::before {
      transform: translate(-50%, -8px);
   }

   .menu-btn__burger::after {
      transform: translate(-50%, 8px);
   }

   .menu-btn.active .menu-btn__burger {
      transform: translateX(-50px);
      background: transparent;
   }

   .menu-btn.active .menu-btn__burger::before {
      transform: rotate(45deg) translate(28px, -28px);
   }

   .menu-btn.active .menu-btn__burger::after {
      transform: rotate(-45deg) translate(28px, 28px);
   }

   .header {
      .collapse-horizontal {
         transition: all .2s;
         position: fixed;
         bottom: 0;
         right: 0;
         width: 100%;
         text-align: center;
      }

      .show {
         position: absolute;
         top: 62px;
         width: 100vw;
         left: 0;
      }

      .collapsing {
         opacity: 0;
      }

      .navbar-collapse {
         margin-right: 0px;
      }

      .navbar-nav {
         padding: 20px 0;
         background-color: #fff;
      }

      .nav-item {
         margin-right: 0;
         margin-bottom: 10px;
      }
   }

   .top__image {
      margin-top: 20px;
   }

   .footer {
      .nav-item {
         margin-right: 30px;
      }

      .social {
         margin: 0 auto;
      }
   }
}


@media (max-width:450px) {
   .top {
      padding-left: 15px;

      &__btn {
         margin-bottom: 16px;

      }

      &__title {
         font-size: 48px;
         line-height: 66px;
      }

      &__img {
         right: -182px;
      }

      &__btn--2 {
         margin-left: 0px;
      }

   }



   .description {
      &__title {
         padding-top: 160px;
         max-width: 260px;
         margin: 0 auto 16px;
      }

      &__text {
         margin-bottom: 30px;
      }

      &__item {
         margin: 15px;
      }
   }

   .product {
      margin-top: 40px;
      padding-bottom: 0px;

      &__content {
         padding-left: 30px;
      }

      &__text {
         max-width: 320px;
      }

      &__img {
         left: -90px;
      }
   }

   .webform {
      padding: 30px 10px;

      &__title {
         max-width: 220px;
         margin: 0 auto;
         margin-bottom: 23px;
      }
   }

   .webform__form {
      margin: 50px 0 75px;

      .btn {
         float: left;
      }
   }

   .footer {
      padding-left: 10px;
      padding-right: 10px;

      .navbar {
         align-items: baseline;
         ;
      }

      .navbar-nav {
         flex-direction: column;
         margin-left: 0 !important;
      }

      .logo {
         width: 100%;
         text-align: left;
         margin-bottom: 80px;
      }

      .social {
         margin-left: auto;
         margin-right: 0;
      }

      &__text {
         margin-bottom: 16px;
      }

      .input-group {
         max-width: 365px;
      }

      &__content {
         padding-bottom: 71px;
      }

      &__copy {
         max-width: 240px;
         margin: 0 auto;
      }
   }

   .popup {
      max-width: 100%;
      height: 100vh;
      padding: 50px 16px;
      border-radius: 0px;

      &__title {
         text-align: center;
         margin-bottom: 20px;
      }

      .webform__btn {
         max-width: 100%;
         width: 100%;
         float: none;
         margin-top: 35px;
      }


      .close-popup {
         top: 16px;
         right: 16px;
      }
   }
}

@media (max-width:350px) {
   .footer {
      #validationCustom05 {
         width: 100%;
         border-radius: 6px;
         border: 1px solid #fff;
         border-radius: 6px;
      }

      #button-addon5 {
         margin-top: 10px;
         width: 100%;
         border-radius: 6px;
      }
   }
}