$default: #363636;
$title: #2B0955;
$accent: #7000FF;
$accentyellow: #FBC508;
;


%poppins-400 {
   font-family: "Poppins-Regular", sans-serif;
   font-weight: 400;
}

%poppins-600 {
   font-family: "Poppins-SemiBold", sans-serif;
   font-weight: 700;
}

%poppins-700 {
   font-family: "Poppins-Bold", sans-serif;
   font-weight: 700;
}

%poppins-800 {
   font-family: "Poppins-ExtraBold", sans-serif;
   font-weight: 800;
}

%label-hidden {
   overflow: hidden;
   width: 1px;
   height: 1px;
   clip: rect(0 0 0 0);
   position: absolute;
}